.border{
  border:1px solid navy;
}
.movieSection{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  text-align: center;
  padding-left:100px;
  padding-top:10px;

}
.movieContainer{
  height:450px;
  width:280px;
  /* margin:2%; */
  border:1px solid red;
}
.moviePoster{
  height:300px;
  width:280px;
}
*{
  margin:0;
  padding:0;
}
.movieSpecs{
  display: flex;
  justify-content: space-between;
  padding:4px;
}
.movieSummary{
  font-size: 14px;
  overflow:hidden;
  height:75px;
  padding:4px;

}
span{
  margin:4px;
}
button{
  padding: 5px 6px;
  background-color: grey;
  border:none;
  border-radius: 15%;
  color:white;

}

/* Game */

.gamebox{
  height:80px;
  width:80px;
  border:1px solid black;
  font-size: 50px;
  text-align:center ;
  
}
.board{
  width:240px;
  border:1px solid red;
  display: grid;
  grid-template-columns: auto auto auto;
  margin:0 auto;
}
.winner{
  margin:0 auto;
  width:240px;
  color:green
}
.gamebox:hover{
  background-color: grey;
}
.themebox{
  height:300px;
  border:1px solid black;
  width:500px;
  margin:40px;
  padding: 30px;
}


.stack {
  display: flex;
  justify-content: space-evenly;
}

.stack li {
  list-style: none;
}


.stack li a {
  text-decoration: none;
}

.python-text {
  text-align: center;
  padding: 10px;
  color: black;
}

.sampl-tabs {
  display: flex;
  text-align: center;
  padding: 125px;
  justify-content: center;
}

.sampl-img img {
  width: 336px;
  height: 191px;
}


.sampl-img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-right: 81px;
}

.sampl-tabs h3 {
  padding-top: 18px;
    padding-bottom: 7px;

}

.nav-stack {
  margin-top: 126px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.stack {
  padding: 20px;
}

.sample-text {
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.active {
  font-weight: bold;
  color: #16bc51;
}